.chessBoard {
    margin: 100px auto 0;
    display: flex;
    justify-content: center;
}

.chess {
    display: inline-block;
}

#board {
    border-collapse: collapse;
}

table.tableStyle {
    font-family: Impact, sans-serif;
    background-color: #FFDEAD;
    color: #8B4513;
}

td.rotate {
    width: 50px;
    height: 50px;
    transform: rotate(180deg);
}

td.blackColum {
    width: 50px;
    height: 50px;
    background-color: #DEB887;
    border: 1px ridge #FFFFFF;
}

td.whiteColum {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px ridge #FFFFFF;
}

td.borderColum {
    width: 50px;
    height: 50px;
    background-color: #fff;
}

td {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
}